*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --general-padding: 60px 100px;
    --mutexd-text: grey;
    --h2-b-margin:15px;
    --p: 20px;
    --h2: 45px;
    --foot-padd: 40px 50px;
    --medium-padding: 30px 50px;
}
p{
    color: var(--mutexd-text);
    font-size: var(--p);
    margin-bottom: 10px;
    margin-top: 10px;
}
h2{
    font-size: var(--h2);
    margin-bottom: var(--h2-b-margin);
}
section.starting{
    margin-top: 100px;
    width: 100%;
    height: 60vh;
    position: relative;
}
section.starting img{
    width: 100%;
    height: 100%;
    z-index: -1;
}
div.header-text{
    width: 100%;
    top: 50%;
    position: absolute;
}
section.starting h1,h2{
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 45px;
    z-index: 1;
}
section.contact-info{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: var(--general-padding);
}
section.contact-info div{
    font-size: 40px;
    padding: 0 10px;
    color: red;
    text-align: center;
    margin-bottom: 10px;
}
section.contact-info h3{
    color: black;
    font-size: 18px;
}
/* section.contact-info div div.info{
    width: 100%;
} */
section.how-to{
    padding: var(--general-padding);
    background: rgb(184, 170, 170);
    display: flex;
    justify-content: space-between;
}
section.how-to div.left{
    width: 40%;
    
}
section.how-to div.left h2,
section.how-to div.right h2
{
    text-align: left;
    font-size: 30px;
}
section.how-to div.left div.api img{
    width: 100%;
    height: 100%;
    transition: 2s;
    cursor: grab;
}
div.branch{
    display: flex;
    margin-top: 10px;
}
div.branch p{
    margin-bottom: 5px;
}
div.branch div.icon-info{
    margin-left: 10px;
}
section.how-to div.right{
    width: 50%;
}
section.how-to div.right label{
    font-size: 20px;
    color: rgb(236, 227, 227);
}
section.how-to div.right input{
    width:100%;
    height: 30px;
    margin: 5px 0;
}
section.how-to div.right textarea{
    width:100%;
    resize: none;
}
section.how-to div.right button{
    width: 70px;
    padding: 5px 0;
    border: none;
    cursor: pointer;
}
section.check{
    padding: var(--general-padding);
    text-align: center;
}
section.check div.check-icon{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 10px 0;
    color: red;
    font-size: 50px;
    margin: 0 10px;
}
section.check div.check-icon i{
    margin: 0 10px;
}
footer{
    background: rgba(0, 0, 0, 0.692);
    padding: var(--foot-padd);
    /* color: white; */
}
footer div.wrapper{
    padding-bottom: 40px;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
div.get{
    margin-bottom: 10px;
} 
div.where{
    margin-bottom: 10px;
}
footer div.get ul{
    list-style: none;
}
img.api{
    cursor: pointer;
    transform: scale(0.8);
    transition: 2s;
}
img.api:hover{
    transform: scale(1);
}
footer  h4{
    margin: 10px 0;
    color: white;
}
footer div.get ul ul{
    display: flex;
}
footer div.get ul ul li{
    margin: 10px ;
    cursor: pointer;
}
footer div.get ul ul li i{
    font-size: 20px;
}
footer div.get ul ul li :hover{
    color: red;
}
div.services{
    margin-bottom: 10px;
}
div.services a{
    color: var(--mutexd-text);
    text-decoration: none;
}
div.services ul {
    list-style: none;
    padding: 0;
}
div.services ul li{
    padding-left: 1.3em;
    color: var(--mutexd-text);
    margin: 10px 0;
    font-size: 20px;
    width: 100%;
    border-bottom: 1px solid white;
    padding: 10px 0;

}
div.services ul li:before {
    content: "\f00c"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
  }
  div.services ul li:hover, div.services a:hover{
    color: red;
  }
  div.final{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    flex-wrap: wrap;
  }
@media screen and (max-width: 993px) {
    section.how-to{
        display: block;
        padding: var(--medium-padding);
    }
    section.how-to div.left{
        width: 90%;
    }
    section.how-to div.right{
        width: 90%;
    }
}
@media screen and (max-width: 993px) {
    section.how-to div.left{
        width: 100%;
    }
    section.how-to div.right{
        width: 100%;
    }
}