*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --general-padding: 60px 100px;
    --mutexd-text: grey;
    --h2-b-margin:15px;
    --p: 20px;
    --h2: 45px;
    --foot-padd: 40px 50px;
    --medium-padding: 30px 50px;
}
button{
    width: 200px;
    padding: 10px 0;
    font-size: 15px;
    border-radius: 15px;
    background: red;
    color: white;
    border: none;
}
p{
    color: var(--mutexd-text);
    font-size: var(--p);
}
h2{
    font-size: var(--h2);
    margin-bottom: var(--h2-b-margin);
}
section.starting{
    /* margin-top: 100px; */
    width: 100%;
    height: 100vh;
    position: relative;
}
section.starting img{
    width: 100%;
    height: 100%;
    z-index: -1;
}
div.header-text{
    width: 100%;
    top: 50%;
    position: absolute;
}
section.starting h1{
    justify-content: center;
    text-align: center;
    font-size: 45px;
    z-index: 1;
}
div.btn{
    width: 100%;
    text-align: center;
}
section.categories{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: var(--general-padding);
}
section.categories div.card{
    width: 30%;
    text-align: center;
}
section.categories div.card img{
    width: 100%;
    border-radius: 15px;
}
section.welcome{
    text-align: center;
    /* display: flex; */
    width: 100%;
}
section.welcome div.wrapper{
    display: flex;
    padding: var(--general-padding);
    justify-content: space-between;
    align-items: center;
}
section.welcome div.left{
    width: 40%;
    text-align: left;
}
section.welcome div.right{
    width: 60%;
    display: block;
}
section.welcome div.right div.right-img{
    display: flex;
    justify-content: space-between;
}
section.welcome div.right div.right-img img{
    width: 30%;
    height: 150px;
    margin-bottom: 20px;

}
footer{
    background: rgba(0, 0, 0, 0.692);
    padding: var(--foot-padd);
    /* color: white; */
}
footer div.wrapper{
    padding-bottom: 40px;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
div.get{
    margin-bottom: 10px;
} 
div.where{
    margin-bottom: 10px;
}
footer div.get ul{
    list-style: none;
}
img.api{
    cursor: pointer;
    transform: scale(0.8);
    transition: 2s;
}
img.api:hover{
    transform: scale(1);
}
footer  h4{
    margin: 10px 0;
    color: white;
}
footer div.get ul ul{
    display: flex;
}
footer div.get ul ul li{
    margin: 10px ;
    cursor: pointer;
}
footer div.get ul ul li i{
    font-size: 20px;
}
footer div.get ul ul li :hover{
    color: red;
}
div.services{
    margin-bottom: 10px;
}
div.services a{
    color: var(--mutexd-text);
    text-decoration: none;
}
div.services ul {
    list-style: none;
    padding: 0;
}
div.services ul li{
    padding-left: 1.3em;
    color: var(--mutexd-text);
    margin: 10px 0;
    font-size: 20px;
    width: 100%;
    border-bottom: 1px solid white;
    padding: 10px 0;

}
div.services ul li:before {
    content: "\f00c"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
  }
  div.services ul li:hover, div.services a:hover{
    color: red;
  }
  div.final{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    flex-wrap: wrap;
  }
  @media screen and (max-width:990px) {
    section.categories{
        display: block;
        padding: 0 20px;
    }
    section.categories div.card{
        width: 100%;
    }
    section.welcome div.wrapper{
        display: block;
        padding: 0 20px;
    }
    section.welcome div.left{
        width: 100%;
    }
    section.welcome div.right{
        width: 100%;
    }
    
  }